.dark-mode {
    --background-body: #191d2b;
    --text: #ffffff;
    color: var(--text);
    background-color: var(--background-body);
    padding: 0;
    margin: 0;
    width: 100%;
}
.day-mode {
    --text: #191d2b;
    --background-body: #ffffff;
    color: var(--text);
    background-color: var(--background-body);
    padding: 0;
    margin: 0;
    width: 100%;
}
footer {
    width: 100%;
    height: 25vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    margin: 0;
    font-size: 1.8rem;
    color: white;
}