.about-me {
    margin-top: 5rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.experience__item {
    width: 50%;
    min-height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px var(--orange);
    transition: 0.5s;
}
.experience__item:hover {
    background: var(--orange-gradient);
    animation: pulse 1s;
}
.experience__item:hover .experience__h4 {
    color: white;
    border-bottom: solid 2px rgba(255, 255, 255, 0.525);
}
.experience__item:hover .experience__p {
    color: white;
}
.experience__item div {
    width: 50%;
    height: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.experience__h4 {
    padding: 0;
    margin: 0;
    font-size: 5rem;
    color: var(--orange);
    border-bottom: solid 2px rgba(128, 128, 128, 0.525);
}
.experience__p {
    color: var(--text);
    margin: 1rem;
    font-size: 1.8rem;
}
.my-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.info__h3 {
    font-size: 6rem;
    line-height: 0.5;
    color: var(--text);
}
.info__h3 span {
    color: var(--orange);
}
.info__p {
    width: 80%;
    font-size: 2.5rem;
    line-height: 1.5;
    text-align: justify;
}
.info__p span {
    color: var(--orange);
}
@media (max-width: 900px) { 
    .about-me {
        height: auto;
        flex-direction: column-reverse;
        gap: 2.5rem;
    }
    .my-info {
        width: 100%;
        height: auto;
    }
    .info__h3 {
        font-size: 4rem;
        margin: 3rem 0 1.5rem 0;
    }
    .info__p {
        width: 80%;
        font-size: 1.6rem;
        line-height: 1.5;
        text-align: justify;
    }
    .experience {
        width: 100%;
        height: auto;
        gap: 5rem;
    }
    .experience__item {
        width: 20rem;
        height: 10rem;
        animation: pulse 6s infinite;
    }
    .experience__item:hover {
        background: var(--orange-gradient);
        animation: pulse 3s infinite;
    }
    .experience__item div {
        width: 80%;
    }
    .experience__h4 {
        font-size: 3rem;
    }
    .experience__p {
        font-size: 1.6rem;
    }
}